
body {
  background-image: linear-gradient(to bottom right, red, yellow);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  border: 1px solid black;
  display: block;
  background: transparent;
  width: 900px;
  margin: auto;
}

a {
  font-size: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color:rgb(108, 69, 56);
  color: white;
  text-decoration: none;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  width: 900px;
  margin: auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 2px;
  border-style: groove;
  border-color: black;
  margin: 15px;
}

img {
  margin: 15px;
}

td {
  border-radius: 1rem;
  border-width: .5rem;
  border-style: solid;
  border-color: salmon;
  margin: .5rem;
  padding: .5rem;
  background-color: white;
  min-width: 40px;
}

th {
  border-width: .1px;
  font-size: 1.1rem;
  font-weight: bold;
}

@font-face {
  font-family: Itim;
  src: url(../font/Itim-Regular.ttf)
}

div {
  display: flex;
}

h1 {
  font-size: 6rem;
  font-family: Itim;
  color: rgb(142, 90, 73);
}

h3 {
  font-size: 2rem;
  padding: .5rem;
  color: rgb(137, 69, 62);
}

h4 {
  font-size: 2rem;
  padding: .5rem;
  color: rgb(137, 69, 62);
}

footer{
  margin-top: auto;
  display: flex;
  justify-content: center;
}

form {
  border: 1px solid black;
}