/* body {
  background-image: url("/img/salmon.jpg");
} */

body {
  background-image: url("../img/salmon.jpg");
  background-size: 103px;
  width: 250px;
  height: 250px;
}

td {
  border-radius: 1rem;
  border-width: .5rem;
  border-style: solid;
  border-color: salmon;
  margin: .5rem;
  padding: .5rem;
  background-color: white;
  min-width: 40px;
}

th {
  border-width: .1px;
  font-size: 1.1rem;
  font-weight: bold;
}

@font-face {
  font-family: Itim;
  src: url(../font/Itim-Regular.ttf)
}

div {
  display: flex;
}

h1 {
  font-size: 6rem;
  font-family: Itim;
  color: salmon;
}

h3 {
  font-size: 2rem;
  padding: .5rem;
  color: salmon;
}