*{
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom right, rgb(132, 83, 67), silver);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  /* border: 1px solid black; */
  background: url("../img/salmon.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  width: 852px;
  margin: auto;
  align-items: flex-end;
  flex-direction: row;
}

.left img {
  width:50%
}

.left{
  display: flex;
  align-items: center;
}

.right {
  align-content: center;
}

a {
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color:rgb(108, 69, 56);
  color: white;
  text-decoration: none;
}
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-self: center;
  width: 900px;
  margin: auto;
  align-items: center;
}

.storeLocations {
  width: 45%;
}

main p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:white;
}

img {
  margin: 15px;
  height: auto;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

legend {
  font-size: 2rem;
  color: antiquewhite;
}

td {
  border-radius: 1rem;
  border-width: .5rem;
  border-style: solid;
  border-color: salmon;
  margin: .5rem;
  padding: .5rem;
  background-color: white;
  min-width: 40px;
  font-family:Arial, Helvetica, sans-serif;
}

th {
  border-width: .1px;
  font-size: 1.1rem;
  font-weight: bold;
  vertical-align: middle;
}



@font-face {
  font-family: Itim;
  src: url(../font/Itim-Regular.ttf)
}

div {
  display: flex;
}

h1 {
  font-size: 4.5rem;
  font-family: Itim;
  color: rgb(237, 151, 122);
}

h2{
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
  padding: .5rem;
  color: rgb(137, 69, 62);
}

h4 {
  font-size: 2rem;
  padding: .5rem;
  color: rgb(137, 69, 62);
}

h5 {
  font-size: 2rem;
  padding: .5rem;
  color: white;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.images img {
  width: 23%;
}




footer{
  margin: auto;
  display: flex;
  justify-content: flex-start;
  width: 852px;
}

.storeLocations {
  display: flex;
  width: 852px;
  flex-direction: column;
}

form {
  border: 1px solid black;
}

.line{
  background: url("../img/chinook.png");
  background-position: center;
  background-position: top;
  background-size: 15%;
}